<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>EditTaskStatusServlet</servlet-name>
        <servlet-class>servlet.EditTaskStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTaskServlet</servlet-name>
        <servlet-class>servlet.EditTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TodolistServlet</servlet-name>
        <servlet-class>servlet.TodolistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionServlet</servlet-name>
        <servlet-class>servlet.ConnectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTaskServlet</servlet-name>
        <servlet-class>servlet.AddTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTaskServlet</servlet-name>
        <servlet-class>servlet.DeleteTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTaskServlet</servlet-name>
        <url-pattern>/AddTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTaskServlet</servlet-name>
        <url-pattern>/DeleteTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTaskStatusServlet</servlet-name>
        <url-pattern>/EditTaskStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TodolistServlet</servlet-name>
        <url-pattern>/TodolistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTaskServlet</servlet-name>
        <url-pattern>/EditTaskServlet</url-pattern>
    </servlet-mapping>
</web-app>